doctype html
html
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no")
    block title
  body
    div(style='display:none')
      audio(controls='controls' loop='loop' id="myaudio")
        source(src='http://www.mlpsh.cn/lufthansa/2018cny/dist/music/muse.mp3', type='audio/mpeg')
    div.base-tips(data-item="tips")
    div.base-container
      block content