.main-introduce-page{
  width: 100vw;
  height: 100vh;
  background: url("assets/introduce-bg.png") no-repeat;
  background-size: cover;
  z-index: 999;
  position: relative;
  background-position: center;
  .main-introduce-content{
    background: url("assets/bule-bg.png") no-repeat;
    background-size: cover;
    height: 85%;
    width: 90%;
    margin-left: 5%;
    position: absolute;
    bottom: 0;
    padding: 0 5%;
    color: #F6D169;
    .introduce-head{
      font-size: 1.5rem;
      margin-top: 13%;
      padding-bottom: 5%;
      display: block;
      border-bottom: 1px solid;
      margin-bottom: 8%;
    }
    .introduce-titie{
      font-size: .85rem;
      height: 70%;
      overflow-y: scroll;
      span{
        display: block;
        margin-top: 4%;
      }
      span:first-child{
        margin-top: 0;
      }
      span:last-child{
        margin-top: 8%;
      }
    }
  }
  .introduce-page-lose{
    position: absolute;
    background: url("assets/lose-02.png") no-repeat;
    background-size: cover;
    display: inline-block;
    width: 1.8rem;
    height: 1.8rem;
    right: 8%;
    top: 19%;
  }
}
//iphone4
@media screen and (max-height: 480px) {
  .main-introduce-page{
    background-position: inherit;
    .main-introduce-content{
      height: 85%;
      width: 80%;
      margin-left: 10%;
      .introduce-head{
        font-size: 1.2rem;

      }
      .introduce-titie{
        font-size: .65rem;
      }
    }
    .introduce-page-lose{
      width: 1.5rem;
      height: 1.5rem;
      right: 13%;
      top: 18%;
    }
  }

}
//iPad
//@media screen and (min-height: 1024px) {
//  .main-introduce-page{
//    background-position: inherit;
//    .main-introduce-content{
//      height: 85%;
//      width: 70%;
//      margin-left: 15%;
//    }
//    .introduce-page-lose{
//      width: 45px;
//      height: 45px;
//      right: 17%;
//      top: 18%;
//    }
//  }
//}