extends ../../modules/html-templates/base.pug

block title
    title loading page
block content
    div.main-introduce-page
        div.main-introduce-content
            span.introduce-head 活动细则
            div.introduce-titie
                span 1.组建自己的亲友旅行团,免费赢取欧洲往返机票.
                span 2.组团成功后(所有成员接受邀请),系统自动生成您的专属团队编号(即组团成功位次).
                span 3.奖项设置
                    p 一等奖: 编号2018 的亲友旅游团,可免费获得团队所有成员往返欧洲的机票;
                    p 二等奖: 编号18,218,418,618,818 的亲友旅行团所有成员,均可获得电影兑换券;
                    p 三等奖: 编号前10的旅行亲友团所有成员. 均可获得汉莎航空记事本.
                span 4.每个亲友团最多4人参与 (含发起者).
                span 5.每位活动参与者只有一次中奖机会, 取最高奖励.
                span 6.获奖亲友团奖品统一由发起者带领.
                span 活动时间: 2018年2月1日 - 2018年2月10日
                span 奖品发放: 汉莎航空将于活动结束后 7 个工作日内联系获奖者沟通奖品发放事宜, 如因个人信息填写错误而导致活动参与者未能收到礼品, 汉莎无法进行补发.
                span *本次活动最终解释权归汉莎航空所有
        a.introduce-page-lose