.main-wechat{
  width: 100vw;
  height: 100vh;
  background: url("assets/main-bg-01.png") no-repeat;
  background-size: cover;
  z-index: 999;
  background-position: center;
}
.main-wechat-redbag{
  width: 221px;
  height: 332px;
  margin-left: calc((100vw - 221px) / 2);
  position: absolute;
  bottom: 20%;
}
//iphone4
@media screen and (max-height: 480px) {
  .main-wechat{
    background-position: inherit;
  }
  .main-wechat-redbag{
    height: 60%;
    bottom: 10%;
  }

}
//iPad
//@media screen and (min-height: 1024px) {
//  .main-wechat{
//    background-position: inherit;
//  }
//  .main-wechat-redbag{
//    height: 68%;
//    bottom: 8%;
//  }
//
//}