extends ../../modules/html-templates/base.pug

block title
    title loading page
block content
    div.main-wechat
        img(src="http://www.mlpsh.cn/lufthansa/2018cny/dist/images/wechat-redbag-bg.png").main-wechat-redbag