.loading-box{
  padding-top: calc((100vh - 10rem) / 2);
}
.loading-show{
  width: 100vw;
  height: 100vh;
  background: url("assets/bg-lan.png") no-repeat;
  background-size: 100% 100%;
  z-index: 999;
}
.loading-logo{
  background: url("assets/loading.gif") no-repeat;
  background-size: 100% 100%;
  width: 12rem;
  height: 4rem;
  margin: auto;
}
.loading-article{
  background: url("assets/loading-bg.png") no-repeat;
  background-size: 100% 100%;
  width: 12rem;
  height: 1rem;
  margin: auto;
  position: relative;
  .article-item{
    position: absolute;
    height: 1rem;
    left: .9rem;
    width: 0%;
    background-color: #F3B229;
  }
}