extends ../../modules/html-templates/base.pug
block title
    title loading page
    script(type='text/javascript').
        window.loadingData = {
            url: "http://192.168.1.102:8080/pages/mian.html",
            imgs: [
                'http://www.mlpsh.cn/lufthansa/2018cny/dist/images/feiji-x.png',
                'http://www.mlpsh.cn/lufthansa/2018cny/dist/images/cha.png',
                'http://www.mlpsh.cn/lufthansa/2018cny/dist/images/box1-bg.png',
                'http://www.mlpsh.cn/lufthansa/2018cny/dist/images/icon-01.png',
                'http://www.mlpsh.cn/lufthansa/2018cny/dist/images/icon-02.png',
                'http://www.mlpsh.cn/lufthansa/2018cny/dist/images/input.png',
                'http://www.mlpsh.cn/lufthansa/2018cny/dist/images/main-bg-01.png',
                'http://www.mlpsh.cn/lufthansa/2018cny/dist/images/main-bg-02.png',
                'http://www.mlpsh.cn/lufthansa/2018cny/dist/images/main-bg-03.png',
                'http://www.mlpsh.cn/lufthansa/2018cny/dist/images/main-bg-04.png',
                'http://www.mlpsh.cn/lufthansa/2018cny/dist/images/main-bg-05.png',
                'http://www.mlpsh.cn/lufthansa/2018cny/dist/images/main-bg-06.png',
                'http://www.mlpsh.cn/lufthansa/2018cny/dist/images/muise-01.png',
                'http://www.mlpsh.cn/lufthansa/2018cny/dist/images/muise-02.png',
                'http://www.mlpsh.cn/lufthansa/2018cny/dist/images/red-bag.png',
                'http://www.mlpsh.cn/lufthansa/2018cny/dist/images/tips-list-bg.png',
            ]
        }
block content
    .loading-show
        .loading-box
            .loading-logo
            .loading-article
                div.article-item(data-item="article")
