
.main-page{
  height: 100vh;
  width: 100vw;
  position: relative;
}
.main-page-tips{
  .main-tips{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 99;
    background-color: #000000;
    opacity: .8;
    display: none;
  }
  .main-tipsbox1{
    position: absolute;
    top: 35%;
    left: 17.5%;
    height: 35%;
    width: 63%;
    background: url("assets/box1-bg.png") no-repeat;
    background-size: cover;
    z-index: 100;
    display: none;
    font-size: 1rem;
    .lose-icon{
      background: url("assets/cha.png") no-repeat;
      background-size: cover;
      height: 28.5px;
      width: 28.5px;
      position: absolute;
      right: 5%;
      top: 5%;
    }
    .tipsbox1-title{
      width: 100%;
      padding: 15% 10% 0 10%;
      text-align: center;
      .box1-title{
        display: block;
        padding-top: 3%;
      }
      .box1-title-border{
        border-bottom: 1px solid;
        padding-bottom: 15%;

      }
    }
    .tipsbox1-buttom{
      width: 100%;
      text-align: center;
      .click-icon{
        display: inline-block;
        border-top: 1px solid #000000;
        border-bottom: 1px solid #000000;
        margin-top: 10%;
        padding: 3% 0;
      }
    }
  }
  .main-tipsbox2{
    position: absolute;
    top: 23%;
    left: 10%;
    height: 62%;
    width: 80%;
    background: url("assets/tips-list-bg.png") no-repeat;
    background-size: cover;
    z-index: 100;
    display: none;
    .tipsbox2-head{
      height: 20%;
      width: 100%;
      position: relative;
      .head-icon{
        background: url("assets/cha.png") no-repeat;
        background-size: cover;
        height: 28.5px;
        width: 28.5px;
        position: absolute;
        right: 3%;
        top: 8%;
      }
    }
    .tipsbox2-list{
      height: 70%;
      width: 100%;
      padding: 0 8%;
      overflow-y: auto;
      overflow-x: hidden;
      position: relative;
      .list-item{
        padding-bottom: 5%;
        border-bottom: 1px solid;
        padding-top: 5%;
        .item-name{
          display: inline-block;
          width: 40%;
          vertical-align: middle;
          font-size: .8rem;
          font-weight: bold;
        }
        .item-date{
          display: inline-block;
          width: 37%;
          vertical-align: middle;
          font-size: .8rem;
        }
        .item-icon{
          height: 2.5vh;
          display: inline-block;
          width: 23%;
          vertical-align: middle;
          background: url("assets/icon-01.png") no-repeat;
          background-size: 100% 100%;
        }
      }
      .list-item:first-child{
        padding-top: 0;
      }
    }
  }
}
.main-bg1{
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  background: url("assets/main-bg-01.png") no-repeat;
  background-size: cover;
  z-index: 7;
  background-position: center;
}
.main-bg2{
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  background: url("assets/main-bg-02.png") no-repeat;
  background-size: cover;
  z-index: 6;
  background-position: center;
}
.main-bg3{
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  background: url("assets/main-bg-03.png") no-repeat;
  background-size: cover;
  z-index: 5;
  background-position: center;
}
.main-bg4{
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  background: url("assets/main-bg-04.png") no-repeat;
  background-size: cover;
  z-index: 4;
  background-position: center;
}
.main-bg5{
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  background: url("assets/main-bg-05.png") no-repeat;
  background-size: cover;
  z-index: 3;
  background-position: center;
}
.main-bg6{
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  background: url("assets/main-bg-06.png") no-repeat;
  background-size: cover;
  z-index: 2;
  background-position: center;
}
.main-bg7{
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  background: url("assets/main-bg-01.png") no-repeat;
  background-size: cover;
  z-index: 1;
  background-position: center;
}
.main-content{
  z-index: 8;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  .content-redbad{
    background: url("assets/red-bag.png") no-repeat;
    background-size: cover;
    width: 221px;
    height: 332px;
    position: absolute;
    bottom: -332px;
    left: calc((100vw - 221px) /2);
  }
  .content-aircraft{
    background: url("assets/feiji-x.png") no-repeat;
    background-size: cover;
    width: 179px;
    position: absolute;
    bottom: -65px;
    right: -179px;
    height: 65px;
  }
  .content-click{
    position: absolute;
    bottom: -10vh;
    width: 100vw;
    font-size: 0;
    .click{
      width: calc((100vw - 129px) / 2);
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      .click-border{
        border-bottom: 1px solid #000000;
        font-size: .9rem;
      }

    }
    .click-but{
      background: url("assets/input.png") no-repeat;
      background-size: cover;
      width: 129px;
      height: 40.19px;
    }
  }
  .content-music{
    position: absolute;
    right: 5%;
    top: 5%;
    height: 1.4rem;
    width: 1.4rem;
    .music-on{
      background: url("assets/muise-01.png") no-repeat;
      background-size: cover;
      width: 100%;
      height: 100%;
      display: inline-block;
    }
    .music-off{
      background: url("assets/muise-02.png") no-repeat;
      background-size: cover;
      width: 100%;
      height: 100%;
      display: inline-block;
    }
  }
}

@media screen and (max-height: 480px) {
  .main-page-tips{
    .main-tipsbox1{
      font-size: .8rem;
    }
    .main-tipsbox2 .tipsbox2-head .head-img{
      height: 30%;
    }
  }
  .main-bg1{
    background-position: inherit;
  }
  .main-bg2{
    background-position: inherit;
  }
  .main-bg3{
    background-position: inherit;
  }
  .main-bg4{
    background-position: inherit;
  }
  .main-bg5{
    background-position: inherit;
  }
  .main-bg6{
    background-position: inherit;
  }
  .main-bg7{
    background-position: inherit;
  }
  .main-content{
    .content-redbad{
      height: 232px;
      width: 154px;
      left: calc((100vw - 154px) /2);
    }
    .content-aircraft{
      width: 150px;
      height: 55px;
    }
    //.content-click{
    //  .click-but{
    //    height: 5.5vh;
    //  }
    //}
  }
}
//@media screen and (min-height: 1024px) {
//  .main-page-tips .main-tipsbox2 .tipsbox2-head .head-img{
//    height: 32%;
//    margin: 8% 8% 0 8%;
//  }
//  .main-page-tips .main-tipsbox2 .tipsbox2-list .list-item {
//    .item-name{
//      font-size: 25px;
//    }
//    .item-date{
//      font-size: 25px;
//    }
//  }
//  .main-page-tips{
//    .main-tipsbox1{
//      font-size: 25px;
//    }
//  }
//  .main-bg1{
//    background-position: inherit;
//  }
//  .main-bg2{
//    background-position: inherit;
//  }
//  .main-bg3{
//    background-position: inherit;
//  }
//  .main-bg4{
//    background-position: inherit;
//  }
//  .main-bg5{
//    background-position: inherit;
//  }
//  .main-bg6{
//    background-position: inherit;
//  }
//  .main-bg7{
//    background-position: inherit;
//  }
//  .main-content{
//    .content-redbad{
//      width: 52%;
//      height: 59%;
//      left: 24%;
//
//    }
//    .content-aircraft{
//      height: 13.8%;
//    }
//    .content-click{
//      .click-but{
//        height: 6.5vh;
//      }
//      .click{
//        font-size: 35px;
//      }
//    }
//  }
//}
