extends ../../modules/html-templates/base.pug

block title
  title main page
block content
  div.main-page-tips
    div.main-tips(data-tips="main-page")
    div.main-tipsbox2(data-tips="tipsbox2")
      div.tipsbox2-head
        span.head-icon(onclick="clickTipsIconClose("+ false +")")
      div.tipsbox2-list
        div.list-item
          span.item-name 团1  (Burgess)
          span.item-date 2018/0101
          span.item-icon
        div.list-item
          span.item-name 团1  (Burgess)
          span.item-date 2018/0101
          span.item-icon
        div.list-item
          span.item-name 团1  (Burgess)
          span.item-date 2018/0101
          span.item-icon
        div.list-item
          span.item-name 团1  (Burgess)
          span.item-date 2018/0101
          span.item-icon
        div.list-item
          span.item-name 团1  (Burgess)
          span.item-date 2018/0101
          span.item-icon
        div.list-item
          span.item-name 团1  (Burgess)
          span.item-date 2018/0101
          span.item-icon
        div.list-item
          span.item-name 团1  (Burgess)
          span.item-date 2018/0101
          span.item-icon
        div.list-item
          span.item-name 团1  (Burgess)
          span.item-date 2018/0101
          span.item-icon
    div.main-tipsbox1(data-tips="tipsbox1")
      span.lose-icon(onclick="clickTipsIconClose("+ true +")")
      div.tipsbox1-title
        span.box1-title 您还没有创建亲友团,
        span.box1-title.box1-title-border 点击创建您的亲友团吧!
      div.tipsbox1-buttom
        a.click-icon 创建亲友团
  div.main-page(data-item="main")
    div.main-bg1(data-finish="1",data-item="bg")
    div.main-bg2(data-finish="2",data-item="bg")
    div.main-bg3(data-finish="3",data-item="bg")
    div.main-bg4(data-finish="4",data-item="bg")
    div.main-bg5(data-finish="5",data-item="bg")
    div.main-bg6(data-finish="6",data-item="bg")
    div.main-bg7(data-finish="7",data-item="bg")
    div.main-content
        div.content-redbad(data-animate="redbad")
        div.content-aircraft(data-animate="aircraft")
        div.content-click(data-animate="clickbox")
          a.click(data-click="friends" onclick="clickFriends("+ false +")")
            span.click-border 我的亲友团
          a.click.click-but
          a.click
            span.click-border 活动规则
        div.content-music(data-click="music")
          span.music-on


