.main-winning{
  width: 100vw;
  height: auto;
  z-index: 999;
  position: fixed;
  top: 50vh;
  transform: translateY(-50%);
}
.main-winning-from-tips{
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  .winning-from-tips{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 99;
    background-color: #000000;
    opacity: .8;
  }
  .winning-from-tipsbox{
    font-size: .9rem;
    position: absolute;
    top: 35%;
    left: 17.5%;
    height: 35%;
    width: 63%;
    background: url("assets/box1-bg.png") no-repeat;
    background-size: cover;
    z-index: 100;
    .winning-from-tipsbox-title{
      width: 100%;
      padding: 15% 5% 0 5%;
      text-align: center;
      .winning-from-tipsbox-span{
        display: block;
        padding-top: 3%;
      }
      .winning-from-tipsbox-border{
        border-bottom: 1px solid;
        padding-bottom: 15%;

      }
    }
    .winning-from-tipsbox-buttom{
      width: 100%;
      text-align: center;
      .winning-from-click-icon{
        display: inline-block;
        border-top: 1px solid #000000;
        border-bottom: 1px solid #000000;
        margin-top: 10%;
        padding: 3% 0;
      }
    }
  }
}