extends ../../modules/html-templates/base.pug

block title
    title loading page
block content
    img(src="http://www.mlpsh.cn/lufthansa/2018cny/dist/images/winning-bg.png").main-winning
    div.main-winning-from-tips(data-winning="from-tips")
        div.winning-from-tips
        div.winning-from-tipsbox
            div.winning-from-tipsbox-title
                span.winning-from-tipsbox-span 您的中奖资料已收到,
                span.winning-from-tipsbox-span.state-from-tipsbox-border 2月14日前我们会联系您的亲友团发起人,沟通奖品发放事宜.
            div.winning-from-tipsbox-buttom
                a.winning-from-click-icon(data-winning="close-tips") 我知道了