.main-state-page {
  width: 100vw;
  height: 100vh;
  background: url("assets/state-page-bg.png") no-repeat;
  background-size: cover;
  background-position: center;
  .state-content{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    .state-content-title{
      width: 100vw;
      text-align: center;
      margin-top: 25%;
      color: #030B6A;
      font-weight: bold;
      font-size: 1.2rem;
      .state-title-row{
        display: block
      }
    }
    .state-content-item{
      width: 100vw;
      position: absolute;
      bottom: 55%;

      .content-item{
        display: inline-block;
        border-radius: 360px;
      }
      .item1{
        height: 4rem;
        width: 4rem;
        position: absolute;
        left: calc((100vw - 4rem) /2);
        top: 5.5rem;
        background: url("assets/state-page-bg.png") no-repeat;
        background-size: 100% 100%;
      }
      .item1:before{
        position: absolute;
        bottom: calc(-.6rem - 1px);
        display: inline-block;
        content: '';
        width: 0;
        height: 0;
        border: .4rem solid transparent;
        border-bottom-color: #030F68;
        z-index: 1;
        left: calc(2rem - .4rem);
      }
      .item-hide:before{
        display: none!important;
      }
      .item1-name{
        background: url("assets/state-name-bg.png") no-repeat;
        background-size: 100% 100%;
        color: #ffffff;
        padding: .5rem;
        position: absolute;
        left: calc((100vw - 3.4rem) /2);
        top: 10rem;
        font-size: .8rem;
        min-width: 4rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 6rem;
      }
      .item2{
        height: 3.5rem;
        width: 3.5rem;
        position: absolute;
        right: calc((100vw - 12rem) /2);
        top: 3rem;
        background: url("assets/no-people.png") no-repeat;
        background-size: 100% 100%;
      }
      .item2:before{
        position: absolute;
        top: calc(-.6rem - 2px);
        display: inline-block;
        content: '';
        width: 0;
        height: 0;
        border: .36rem solid transparent;
        border-top-color: #030F68;
        z-index: 1;
        left: calc(50% - .4rem);;
      }
      .item2-name{
        background: url("assets/state-name-bg.png") no-repeat;
        background-size: 100% 100%;
        color: #ffffff;
        padding: .5rem;
        position: absolute;
        left: calc((100vw + 5rem) /2);
        bottom: -2.47rem;
        font-size: .8rem;
        min-width: 3.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 6rem;

      }
      .item3{
        height: 3rem;
        width: 3rem;
        position: absolute;
        left: calc((100vw - 3rem) /2);
        background: url("assets/no-people.png") no-repeat;
        background-size: 100% 100%;
      }
      .item3:before{
        position: absolute;
        top: calc(-.6rem - 2px);
        display: inline-block;
        content: '';
        width: 0;
        height: 0;
        border: .36rem solid transparent;
        border-top-color: #030F68;
        z-index: 1;
        left: calc(50% - .4rem);;
      }
      .item3-name{
        background: url("assets/state-name-bg.png") no-repeat;
        background-size: 100% 100%;
        color: #ffffff;
        padding: .5rem;
        position: absolute;
        right: calc((100vw - 3rem) /2);
        bottom: 0.55rem;
        font-size: .8rem;
        min-width: 3rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 6rem;

      }
      .item4{
        height: 2.5rem;
        width: 2.5rem;
        position: absolute;
        top: 3rem;
        left: calc((100vw - 10rem) /2);
        background: url("assets/no-people.png") no-repeat;
        background-size: 100% 100%;
      }
      .item4:before{
        position: absolute;
        top: calc(-.6rem - 2px);
        display: inline-block;
        content: '';
        width: 0;
        height: 0;
        border: .36rem solid transparent;
        border-top-color: #030F68;
        z-index: 1;
        left: calc(50% - .4rem);;
      }
      .item4-name{
        background: url("assets/state-name-bg.png") no-repeat;
        background-size: 100% 100%;
        color: #ffffff;
        padding: .5rem;
        position: absolute;
        right: calc((100vw + 5rem) /2);
        bottom: -2.5rem;
        font-size: .8rem;
        min-width: 2.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 6rem;

      }
    }
    .state-content-input{
      width: 100vw;
      position: absolute;
      top: 86%;
      .state-theaward-input{
        width: 129px;
        height: 40.19px;
        margin-left: calc((100% - 129px) / 2);
        background: url("assets/state-the-award.jpg") no-repeat;
        background-size: 100% 100%;
        display: inline-block;
      }
      .state-theaward-input.received{
        background: url("assets/already-received-input.jpg") no-repeat;
        background-size: 100% 100%;

      }
      .state-inputs{
        width: 100vw;
        .state-invitation-input{
          width: 129px;
          height: 40.19px;
          background: url("assets/invitation-input.jpg") no-repeat;
          background-size: 100% 100%;
          display: inline-block;
        }
        .state-return-input{
          width: 129px;
          height: 40.19px;
          background: url("assets/return-input.jpg") no-repeat;
          background-size: 100% 100%;
          display: inline-block;
          margin-left: calc((96% - 258px) / 2);
          margin-right: 4%;
        }
        .state-showoff-input{
          width: 129px;
          height: 40.19px;
          background: url("assets/show-off-input.jpg") no-repeat;
          background-size: 100% 100%;
          display: inline-block;
        }
        .state-friends-input{
          width: 129px;
          height: 40.19px;
          background: url("assets/inviting-friends-input.jpg") no-repeat;
          background-size: 100% 100%;
          display: inline-block;
        }
        .state-booking-input{
          width: 129px;
          height: 40.19px;
          background: url("assets/booking-input.jpg") no-repeat;
          background-size: 100% 100%;
          display: inline-block;
          margin-left: calc((96% - 258px) / 2);
          margin-right: 4%;
        }
        .state-again-input{
          width: 129px;
          height: 40.19px;
          background: url("assets/group-again-input.jpg") no-repeat;
          background-size: 100% 100%;
          display: inline-block;
        }
      }
    }
    .state-content-music{
      position: absolute;
      right: 5%;
      top: 5%;
      height: 1.4rem;
      width: 1.4rem;
      .music-on{
        background: url("assets/muise-01.png") no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        display: inline-block;
      }
      .music-off{
        background: url("assets/muise-02.png") no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        display: inline-block;
      }
    }
  }
}
.main-state-tips{
  display: none;
  .state-tips{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 99;
    background-color: #000000;
    opacity: .8;
  }
  .tips-invitation-img{
    position: absolute;
    right: 100%;
    top: 50%;
    background: url("assets/send-out-tips.png") no-repeat;
    background-size: cover;
    height: 8rem;
    width: 9rem;
    z-index: 100;
  }
  .tips-transmit-img{
    position: absolute;
    right: 100%;
    top: 50%;
    background: url("assets/transmit-tips.png") no-repeat;
    background-size: cover;
    height: 8rem;
    width: 9rem;
    z-index: 100;
  }
}
.start-information-tips{
  display: none;
  .information-tips{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 99;
    background-color: #ffffff;
    opacity: .8;
  }
  .information-tips-lose{
    background: url("assets/lose-02.png") no-repeat;
    background-size: cover;
    display: inline-block;
    height: 1.8rem;
    width: 1.8rem;
    z-index: 101;
    top: 5%;
    position: absolute;
    right: 5%;
  }
  .information-content{
    position: absolute;
    bottom: 0;
    background: url("assets/submit-animate-bg.png") no-repeat;
    background-size: cover;
    z-index: 100;
    left: 6%;
    right: 6%;
    height: 86%;
    padding: 0 10%;
    bottom: -86%;
    .information-content-head{
      height: 22%;
      width: 100%;
      border-bottom: 1px solid #F6D169;
      color: #F6D169;
      text-align: center;
      .c-head-title{
        font-size: 1.4rem;
        padding-top: 25%;
        display: block;
      }
    }
    .information-content-from{
      height: 45%;
      width: 100%;
      .from-input{
        margin-top: 15%;
        width: 100%;
        position: relative;
        input {
          background: url("assets/state-input-border.png") no-repeat;
          background-size: 100% 100%;
          padding: 5% 0;
          font-size: 1rem;
          text-align: center;
          width: 100%;
          border: 0;
          border-radius: 0;
          -webkit-appearance : none ;
          color: #F6D169;
        }
        input:focus::-webkit-input-placeholder{
          text-indent: -999em;
          z-index: -20;
        }
        input.input-error{
          color: red;
        }
        input.input-error::-webkit-input-placeholder { /* WebKit browsers */
          color: red;
        }
        input.input-error:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
          color: red;
        }
        input.input-error::-moz-placeholder { /* Mozilla Firefox 19+ */
          color: red;
        }
        input.input-error:-ms-input-placeholder { /* Internet Explorer 10+ */
          color: red;
        }
        input::-webkit-input-placeholder { /* WebKit browsers */
          color: #F6D169;
        }
        input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
          color: #F6D169;
        }
        input::-moz-placeholder { /* Mozilla Firefox 19+ */
          color: #F6D169;
        }
        input:-ms-input-placeholder { /* Internet Explorer 10+ */
          color: #F6D169;
        }
      }
    }
    .information-content-input{
      .information-from-input{
        background: url("assets/state-sim-input.png") no-repeat;
        background-size: cover;
        width: 129px;
        height: 40.19px;
        display: inline-block;
        margin-left: calc((100% - 129px) / 2)
      }
    }
  }
}

//iphone4
@media screen and (max-height: 480px) {
  .main-state-page{
    background-position: inherit;
  }
  .state-content-title{
    font-size: .8rem!important;
  }
  .start-information-tips .information-content .information-content-input .information-from-input{
    margin-top: 10%;
  }
}
