extends ../../modules/html-templates/base.pug

block title
    title loading page
block content
    div.start-information-tips(data-state="information-tips")
        div.information-tips
        div.information-content(data-state="information-content")
            a.information-tips-lose(data-state="theaward-lose")
            div.information-content-head
                span.c-head-title 填写资料,接收奖励
            div.information-content-from
                from
                    div.from-input
                        input(data-from="name" placeholder="姓名")
                    div.from-input
                        input(data-from="address" placeholder="地址")
                    div.from-input
                        input(data-from="phone" placeholder="电话")
            div.information-content-input
                a.information-from-input(onClick="clickInformationFrom()")
    div.main-state-tips(data-state="tips")
        div.state-tips
        div.tips-invitation-img(data-state="invitation-img")
        div.tips-transmit-img(data-state="transmit-img")
    div.main-state-page(data-statepageurl="http://www.baidu.com"   data-statepage="only-page")
        div.state-content
            div.state-content-title
                span.state-title-row 您已成功发起欧洲旅行亲友团,
                span.state-title-row 赶紧邀请亲友一起乘坐汉莎航空,
                span.state-title-row 共赴欧洲度新年吧!
            div.state-content-item
                div(data-state="item1")
                    span.content-item.item1
                    div.item1-name burgess.li
                div(data-state="item2")
                    span.content-item.item2
                    //div.item2-name burgess.li
                div(data-state="item3")
                    span.content-item.item3
                    //div.item3-name burgess.li
                div(data-state="item4")
                    span.content-item.item4
                    //div.item4-name burgess.li

            div.state-content-input
                //邀请按钮
                //中奖按钮  已领奖 加入类 received
                a.state-theaward-input(data-state="theaward" style="display:none")
                //返回首页 炫耀一下  邀请好友 按钮
                div.state-inputs(style="")
                    a.state-return-input(style="display:none" onclick="fromSuccessShow()")
                    a.state-showoff-input(style="display:none" data-state="invitation")
                    a.state-friends-input(style="display:none" data-state="transmit")
                    //a.state-booking-input(style="")
                    a.state-again-input(style="")
                    a.state-invitation-input(data-state="invitation")
            div.state-content-music(data-click="music")
                span.music-on
