.loading-show{
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  background: url("../../entries/loading/assets/bg-lan.png") no-repeat;
  background-size: cover;
  z-index: 999;
}
.loading-logo{
  background: url("../../entries/loading/assets/loading.gif") no-repeat;
  background-size: cover;
  width: 12rem;
  height: 3rem;
  margin: auto;
}
