.main-submit-page{
  width: 100vw;
  height: 100vh;
  background: url("assets/main-bg-01.png") no-repeat;
  background-size: cover;
  background-position: center;
  .redbag-content{
    position: absolute;
    height: 100%;
    bottom: -12%;
    width: 100vw;
    overflow: hidden;
    .redbag-cover{
      background: url("assets/red-cover.png") no-repeat;
      background-size: 100% 100%;
      width: 100vw;
      position: absolute;
      height: 12%;
      bottom: 0;
      transform: rotateX(180deg);
      -ms-transform: rotateX(180deg); 	/* IE 9 */
      -moz-transform: rotateX(180deg); 	/* Firefox */
      -webkit-transform: rotateX(180deg); /* Safari 和 Chrome */
      -o-transform: rotateX(180deg);
      transform-style: preserve-3d;
      z-index: 1;

    }
    @keyframes covershow {
      0%   {
            bottom:0;
            transform: rotateX(180deg);
            -ms-transform: rotateX(180deg); 	/* IE 9 */
            -moz-transform: rotateX(180deg); 	/* Firefox */
            -webkit-transform: rotateX(180deg); /* Safari 和 Chrome */
            -o-transform: rotateX(180deg);
            }
      100% {
            bottom:calc(12% - 1px);
            transform: rotateX(0deg);
            -ms-transform: rotateX(0deg); 	/* IE 9 */
            -moz-transform: rotateX(0deg); 	/* Firefox */
            -webkit-transform: rotateX(0deg); /* Safari 和 Chrome */
            -o-transform: rotateX(0deg);
      }
    }
    .redbag-cover-show{
      animation: covershow .1s forwards;
      z-index: 0;
    }
    .submit-animate-bg{
      background: url("assets/submit-animate-bg.png") no-repeat;
      background-size: cover;
      position: absolute;
      bottom: -48%;
      height:60%;
      width: 84%;
      left: 7%;
      .submit-content{
        height: 100%;
        width: 100%;
        padding: 5% 10%;
        .submit-content-head{
          color: #F6D169;
          .head-icon{
            vertical-align: middle;
            border-radius: 360px;
            display: inline-block;
            height: 2.5rem;
            width: 2.5rem;
            margin-right: 1rem;
          }
          .head-name{
            vertical-align: middle;
            display: inline-block;
            font-size: .9rem;
          }
        }
        .submit-content-title{
          height: 22%;
          width: 100%;
          border-bottom: 1px solid #F6D169;
          color: #F6D169;
          text-align: center;
          padding-top: 6%;
          font-size: .9rem;
          .title-item{
            display: block;
            margin-top: .3rem;
          }
        }
        .submit-content-from{
          height: calc(100% - 2.5rem - 22%);
          width: 100%;
          font-size: 0;
          .from-select{
            margin-top: 5%;
            width: 100%;
            position: relative;
            .from-select-bg{
              background: url("assets/submit-border.png") no-repeat;
              background-size: 100% 100%;
              width: 98%;
              height: 100%;
              color: #F6D169;
              text-align: center;
              padding: 4% 0;
              font-size: .8rem;
            }
            .verification-error{
              color: red;
            }
            select{
              position: absolute;
              left: 0;
              right: 0;
              top: 0;
              bottom: 0;
              opacity: 0;
              width: 100%;
            }
          }
          .from-buttom{
            background: url("assets/submit-input.jpg") no-repeat;
            background-size: 100% 100%;
            display: inline-block;
            width: 107.5px;
            height: 33.5px;
            margin-top: 9%;
            margin-left: calc((100% - 107.5px) / 2);
          }
        }
      }
      .s-partake{
        .submit-content-title{
          height: 30%;
          padding-top: 12%;
        }
        .submit-content-from{
          height: calc(100% - 2.5rem - 30%);
          font-size: 0;
          .from-select{
            margin-top: 15%;
          }
          .from-buttom{
            margin-top: 25%;
            margin-right: calc((100% - 215px));
            margin-left: 0;
          }
          .from-establish{
            background: url("assets/car-input.jpg") no-repeat;
            background-size: 100% 100%;
            display: inline-block;
            width: 107.5px;
            height: 33.5px;
            margin: 25% 0 0 0;

          }
        }
      }
    }
    .redbag-footer{
      background: url("assets/red-bg.png") no-repeat;
      background-size: 100% 100%;
      width: 100vw;
      position: absolute;
      bottom: 0;
      height: 12%;
      z-index: 0;
    }
  }
}
.main-submit-tips{
  display: none;
  .submit-tips{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 99;
    background-color: #000000;
    opacity: .8;
  }
  .submit-tipsbox{
    position: absolute;
    top: 35%;
    left: 17.5%;
    height: 35%;
    width: 63%;
    background: url("assets/box1-bg.png") no-repeat;
    background-size: cover;
    z-index: 100;
    .lose-icon{
      background: url("assets/cha.png") no-repeat;
      background-size: cover;
      height: 28.5px;
      width: 28.5px;
      position: absolute;
      right: 5%;
      top: 5%;
    }
    .submit-tipsbox-title{
      width: 100%;
      padding: 15% 5% 0 5%;
      text-align: center;
      .submit-tipsbox-span{
        display: block;
        padding-top: 3%;
      }
      .submit-tipsbox-border{
        border-bottom: 1px solid;
        padding-bottom: 15%;

      }
    }
    .submit-tipsbox-buttom{
      width: 100%;
      text-align: center;
      .submit-click-icon{
        display: inline-block;
        border-top: 1px solid #000000;
        border-bottom: 1px solid #000000;
        margin-top: 10%;
        padding: 3% 0;
      }
    }
  }
}
//iphone4
@media screen and (max-width: 320px) {
  .main-submit-tips{
    background-position: inherit;
    .submit-tipsbox{
      font-size: .8rem;
    }
  }
  .from-establish{
    width: 86px!important;
    height: 26.8px!important;
  }
  .s-partake .from-buttom{
    margin-top: 4%!important;
    width: 86px!important;
    height: 26.8px!important;
    margin-right: calc((100% - 172px))!important;
    //margin-left: calc((100% - 86px) / 2)!important;
  }
  .from-buttom{
    margin-top: 6%!important;
  }
  .s-partake .form-establish{
    height: 26.8px!important;
    width: 86px!important;
  }

}
