extends ../../modules/html-templates/base.pug

block title
    title loading page
block content
    div.main-submit-tips(data-submit="tips")
        div.submit-tips
        div.submit-tipsbox
            span.lose-icon(data-submit="lose-icon")
            div.submit-tipsbox-title
                span.submit-tipsbox-span 亲友团已经满员,
                span.submit-tipsbox-span.submit-tipsbox-border 您也可以返回首页重新组团
            div.submit-tipsbox-buttom
                a.submit-click-icon 返回首页
    div.main-submit-page
        div.redbag-content(data-animate="submit-page")
            div.redbag-cover(data-animate="cover")
            div.submit-animate-bg(data-animate="submit-bg")
                //div.submit-content(style="")
                //    div.submit-content-head
                //        span(style="background: url('../images/mian-bg-01.gif') no-repeat; background-size: cover").head-icon
                //        span.head-name Burgess.Li
                //    div.submit-content-title
                //        span.title-item 开始组建你的亲友旅行团,
                //        span.title-item 2018共赴欧洲!
                //    div.submit-content-from
                //        from
                //            div.from-select
                //                div.from-select-bg(data-selectname="city1" data-selected="你的出发机场所在城市?",data-from="bg") 你的出发机场所在城市?
                //                select(data-from="select")
                //                    option(selected="" value="") 请选择城市
                //                    option 成都
                //                    option 上海
                //            div.from-select
                //                div.from-select-bg(data-selectname="people" data-selected="你想和几位亲友一起出发?",data-from="bg") 你想和几位亲友一起出发?
                //                select(data-from="select")
                //                    option(selected="" value="") 请选择亲友
                //                    option 1
                //                    option 2
                //            div.from-select
                //                div.from-select-bg(data-selectname="city2" data-selected="选择你想去的欧洲城市?",data-from="bg") 选择你想去的欧洲城市?
                //                select(data-from="select")
                //                    option(selected="" value="") 请选择城市
                //                    option 埃塞洛比亚
                //                    option 意大利
                //            span.from-buttom(onclick="clickSubmitPage()")
                div.submit-content.s-partake(style="")
                    div.submit-content-head
                        span(style="background: url('../images/mian-bg-01.gif') no-repeat; background-size: cover").head-icon
                        span.head-name Burgess.Li
                    div.submit-content-title
                        span.title-item Burgess 邀你共赴XX 欢度2018,
                        span.title-item 赶快登机吧!
                    div.submit-content-from
                        from
                            div.from-select
                                div.from-select-bg( data-selectname="city1" data-selected="你的出发机场所在城市?",data-from="bg") 你的出发机场所在城市?
                                select(data-from="select")
                                    option(selected="" value="") 请选择城市
                                    option 成都
                                    option 上海
                            a.from-buttom(onclick="showSubmitPageTips()")
                            a.from-establish(data-from="establish")
            div.redbag-footer


